<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.DiscussionBoardMapper">

    <insert id="insert">
        insert into tbl_discussion_board(userId,title,content)
        values(#{userId},#{title},#{content})
    </insert>

    <select id = "select" resultType="DiscussionBoardDTO">
        select * from tbl_discussion_board
        where bno = #{bno}
    </select>

    <select id ="list" resultType="DiscussionBoardDTO">
        select * from tbl_discussion_board
    </select>

    <update id="update">
        update tbl_discussion_board
        set
            title = #{title},
            content = #{content},
            pw = #{pw}
        where
            bno = #{bno}
    </update>

    <delete id ="delete">
        delete from tbl_discussion_board
        where bno = #{bno}
    </delete>

    <select id ="getListWithPaging" resultType ="DiscussionBoardDTO">
        <![CDATA[
		select * from
			tbl_discussion_board
		where
			bno > 0
		]]>
        <![CDATA[
		order by bno desc
		limit #{pageStart}, #{perPageNum}
		]]>
    </select>

    <select id ="totalCount" resultType="int">
        SELECT COUNT(*) FROM tbl_discussion_board;
    </select>


    <insert id ="insertReply">
		insert into tbl_reply_discussion(bno,userId,content)
		values(#{bno},#{userId},#{content})
	</insert>

    <delete id ="deleteReply">
		delete from tbl_reply_discussion
		where rno = #{rno}
	</delete>

    <select id ="getReplyList" resultType ="DiscussionReplyDTO">
		select rno,bno,userId,content,regdate
		from tbl_reply_discussion
		where bno = #{bno}
		order by rno desc
	</select>

    <delete id ="deleteAllReply">
		delete from tbl_reply_discussion
		where bno = #{bno}
	</delete>

</mapper>